$background: #f4f1e8;
$border: #c9c6bf;

* {
  margin: 0;
  padding: 0;
}

body {
  height: 4000px;
  background-color: $background;
  font-family: "Tangerine";
}

header {
  padding: 30px;
  text-align: center;
  .header-title {
    margin: 14px 0;
    border-style: solid none;
    border-width: 1.5px;
    border-color: black;
    padding: 20px;
    font-size: 4rem;
  }
}

.main-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  width: 70%;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-items: center;
  border-style: none solid none solid;
  border-width: 1px;
  border-color: black;
  .boximg {
    border-width: 1px;
    height: 300px;
    width: 65%;
    border-style: none none solid none;
    border-width: 1px;
    border-color: black;
      .img-box {
        margin-top: 10%;
        width: 400px;
      }
    }
  .boxtext {
    font-size: 2em;
  }
}
