$background: #f4f1e8;
$border: #c9c6bf;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background;
  font-family: "Tangerine";
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: grid;
  text-align: center;
  align-items: center;
  grid-gap: 10px;
  padding: 2%;
  grid-template: 
    'header header'
    'a b'
    'c d';
}

header {
  grid-area: header;
  border-width: 1px;
  border-style: solid none solid none;
  font-size: 30px;
  margin-bottom: 20px;
  padding: 20px;
}

.a {
  grid-area: a;
  font-size: 3vw;
}

.b{
  grid-area: b;
  border-style: none none none solid;
  border-width: 1px;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
  font-size: 3vw;
  border-style: none none none solid;
  border-width: 1px;
}


.img-box {
  width: 500px;
}


@media (max-width: 1050px) {
  .img-box {
    width: 350px;
  };
}

@media (max-width: 768px) {
  .img-box {
    width: 200px;
  };
}

@media (max-width: 450px) {
  .img-box {
    width: 150px;
  };
}
/*
header {
  padding: 30px;
  text-align: center;
  .header-title {
    margin: 14px 0;
    border-style: solid none;
    border-width: 1.5px;
    border-color: black;
    padding: 20px;
    font-size: 4rem;
  }
}

.main-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  width: 70%;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-items: center;
  border-style: none solid none solid;
  border-width: 1px;
  border-color: black;
  .boximg {
    border-width: 1px;
    height: 300px;
    width: 65%;
    border-style: none none solid none;
    border-width: 1px;
    border-color: black;
      .img-box {
        margin-top: 10%;
        width: 400px;
      }
    }
  .boxtext {
    font-size: 2em;
  }
}
*/